// FONTS
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');


// ICONS
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');


// STYLE CONFIGURATIONS
@import '~bootstrap/scss/bootstrap.scss';
// @import '~simplebar/dist/simplebar.css';


// EXTERNAL STYLES

// ** material2 styles { deeppurple-amber, indigo-pink, pink-bluegrey, purple-green }
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';


// ** material custom theme
@import '~@angular/material/theming';
@include mat-core();
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);

$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// ** initialize custom material2 theme
// @include angular-material-theme($dark-theme);

// ** initialize dark theme to mat-progress-bar
// @include mat-progress-bar-theme($dark-theme);
