
<div class="container">
  <div class="row">

    <div class="col-12 d-flex">
      <div class="x-btn-container m-auto">
        <button type="button" class="btn btn-primary m-3" (click)="onNavigate('auth')">Authentication</button>
        <button type="button" class="btn btn-primary m-3" (click)="onNavigate('rtdb')">Realtime Database</button>
        <button type="button" class="btn btn-primary m-3" (click)="onNavigate('firestore')" disabled>Firestore</button>
        <button type="button" class="btn btn-primary m-3" (click)="onNavigate('storage')">Storage</button>
      </div>
    </div>

    <div class="col-12">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
