<div id="header">
  <mat-toolbar>
    <span routerLink="/">angularfire2</span>
  </mat-toolbar>
</div>

<div data-simplebar>
  <div id="wrapper">

    <div>
      <mat-accordion displayMode="flat" multi="true">
        <mat-expansion-panel #panel expanded
          *ngFor="let item of panel"
          [hideToggle]="item.list.length === 0 ? true : false"
          (click)="item.list.length === 0 ? panel.close() : 0">

          <mat-expansion-panel-header [collapsedHeight]="height" [expandedHeight]="height" [routerLink]="item.navigation">
            <mat-panel-title>{{ item.header }}</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul>
              <li *ngFor="let name of item.list" (click)="navigate(item.navigation, name)">{{ name }}</li>
            </ul>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div>

      <div id="main" *ngIf="!isRouted">
        <mat-card *ngFor="let item of panel" [routerLink]="item.navigation">
          <mat-card-content>
            <h5>{{ item.header }}</h5>
          </mat-card-content>
        </mat-card>
      </div>

      <div id="content">
        <router-outlet></router-outlet>
      </div>

    </div>

  </div>
</div>
