<div class="row">
  <div class="col-12">

    <div class="row">
      <div class="col-3">
        <form [formGroup]="personOrderByForm">
          <div class="btn-group-vertical">
            <h2>Sort</h2>
            <button type="button" class="btn btn-primary my-1" (click)="queryOrderByKey">Order by key</button>
            <hr>
            <button type="button" class="btn btn-primary my-1" (click)="queryOrderByValue()">Order by value</button>
            <hr>
            <span>Order by</span>
            <select class="form-control" formControlName="child">
              <option>name</option>
              <option>age</option>
              <option>gender</option>
              <option>isActive</option>
            </select>
            <button type="button" class="btn btn-primary my-1" (click)="queryOrderByChild()">Order by Child</button>
            <br>
            <h2>Filter</h2>
            <span>Order by</span>
            <select class="form-control" formControlName="child">
              <option>name</option>
              <option>age</option>
              <option>gender</option>
              <option>isActive</option>
            </select>
            <span>Equal to</span>
            <input type="text" class="form-control" formControlName="equal">
            <button type="button" class="btn btn-primary my-1" (click)="queryEqualTo()">Equal to</button>
            <hr>
            <span>Order by</span>
            <select class="form-control" formControlName="child">
              <option>name</option>
              <option>age</option>
              <option>gender</option>
              <option>isActive</option>
            </select>
            <span>Start at</span>
            <input type="number" class="form-control" formControlName="limit">
            <button type="button" class="btn btn-primary my-1" (click)="queryStartAt()">Start at</button>
            <hr>
            <span>Order by</span>
            <select class="form-control" formControlName="child">
              <option>name</option>
              <option>age</option>
              <option>gender</option>
              <option>isActive</option>
            </select>
            <span>End at</span>
            <input type="number" class="form-control" formControlName="limit">
            <button type="button" class="btn btn-primary my-1" (click)="queryEndAt()">End at</button>
            <hr>
            <span>Order by</span>
            <select class="form-control" formControlName="child">
              <option>name</option>
              <option>age</option>
              <option>gender</option>
              <option>isActive</option>
            </select>
            <span>Limit to First</span>
            <input type="number" class="form-control" formControlName="limit">
            <button type="button" class="btn btn-primary my-1" (click)="queryLimitToFirst()">Limit to First</button>
            <hr>
            <span>Order by</span>
            <select class="form-control" formControlName="child">
              <option>name</option>
              <option>age</option>
              <option>gender</option>
              <option>isActive</option>
            </select>
            <span>Limit to Last</span>
            <input type="number" class="form-control" formControlName="limit">
            <button type="button" class="btn btn-primary my-1" (click)="queryLimitToLast()">Limit to Last</button>
          </div>
        </form>
      </div>
      <div class="col">
        <h2>Lists</h2>
        <div *ngFor="let person of people | async">

          <div class="card">
            <div class="card-body">
              <span><strong>name:</strong> {{ person?.name + ' / ' }}</span>
              <span><strong>age:</strong> {{ person?.age + ' / ' }}</span>
              <span><strong>gender:</strong> {{ person?.gender + ' / ' }}</span>
              <span><strong>isActive:</strong> {{ person?.isActive + ' / ' }}</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
