<div class="x-btn-wrapper d-flex">
  <div class="x-btn-container m-auto">
    <button type="button" class="btn m-3" (click)="onSignin('google')">Google <i class="fa fa-google" aria-hidden="true"></i></button>
    <button type="button" class="btn m-3" (click)="onSignin('facebook')">Facebook <i class="fa fa-facebook" aria-hidden="true"></i></button>
    <button type="button" class="btn m-3" (click)="onSignin('twitter')">Twitter <i class="fa fa-twitter" aria-hidden="true"></i></button>
    <button type="button" class="btn m-3" (click)="onSignin('github')">Github <i class="fa fa-github" aria-hidden="true"></i></button>
    <button type="button" class="btn m-3" (click)="onSignin('anonymous')">Anonymous <i class="fa fa-user" aria-hidden="true"></i></button>
  </div>
</div>

<div class="x-registration-wrapper d-flex">
  <div class="x-registration-container m-auto">
    <form [formGroup]="loginForm">
      <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" formControlName="email">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password">
      </div>
      <button type="button" class="btn w-100 my-3" (click)="onSignin('email')">Log in</button>
    </form>
  </div>
</div>
