<div id="wrapper">
  <div>
    <h2>Reauthenticate with email and password</h2>
    <div class="divider">
      <mat-divider></mat-divider>
    </div>

    <div id="content">

      <div>
        <form [formGroup]="reauthenticateForm">

          <mat-form-field color="accent" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput autocomplete="off" type="text" formControlName="email">
            <mat-error *ngIf="reauthenticateForm.get('email')?.errors?.required">This is required.</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput autocomplete="off" type="text" formControlName="password">
            <mat-error *ngIf="reauthenticateForm.get('password')?.errors?.required">This is required.</mat-error>
          </mat-form-field>
          <br>
          <button mat-raised-button type="button" color="accent" (click)="reauthenticate()">REAUTHENTICATE</button>
        </form>
      </div>

    </div>
  </div>

  <div>
    <h2>New password</h2>
    <div class="divider">
      <mat-divider></mat-divider>
    </div>

    <div id="content">

      <div>
        <mat-form-field color="accent" appearance="outline">
          <mat-label>New password</mat-label>
          <input matInput autocomplete="off" type="text" [formControl]="password">
          <mat-error *ngIf="password?.errors?.required">This is required.</mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button type="button" color="accent" (click)="updatePassword()">UPDATE PASSWORD</button>
      </div>

    </div>
  </div>
</div>
