<form [formGroup]="firebaseCreateForm">

  <div class="x-btn-wrapper d-flex">
    <div class="x-btn-container m-auto">
      <button type="button" class="btn btn-primary m-3" (click)="listObjectOption(true)">Object</button>
      <button type="button" class="btn btn-primary m-3" (click)="listObjectOption(false)">List</button>
    </div>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" formControlName="name" placeholder="firstname + lastname">
    <input type="number" class="form-control" formControlName="age" placeholder="age">
    <select class="form-control" formControlName="gender">
      <option>male</option>
      <option>female</option>
    </select>
    <select class="form-control" formControlName="isActive">
      <option>true</option>
      <option>false</option>
    </select>
  </div>

  <div *ngIf="list">
    <button type="button" class="btn btn-primary" (click)="createObjectWithSet()">Object (set)</button>
    <button type="button" class="btn btn-primary" (click)="createObjectWithUpdate()">Object (update)</button>
  </div>
  <div *ngIf="!list">
    <button type="button" class="btn btn-primary" (click)="createListWithPush()">List (push)</button>
  </div>

</form>
