#wrapper {

  margin-bottom: 7vh;
  margin-top: -10px;

  .divider {
    width: 80%;
    margin-bottom: 3vh;
  }

  .mat-raised-button,
  .mat-form-field {
    width: 350px;
  }

  > div {
    margin-bottom: 5vh;

    #content {
      display: flex;

      > div:First-child {
        flex: 1 1 30%;
      }


    }
  }

}
