#header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  > .mat-card {
    width: 250px;
    height: 72px;
    margin: 0 24px 24px 0;
    user-select: none;
    cursor: pointer;
  }
}
