/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/scss/bootstrap';

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
